{
    "full_dataset": "quora_duplicate_questions.tsv",
    "train_path": "Quora_question_pair_partition/train.tsv",
    "dev_path": "Quora_question_pair_partition/dev.tsv",
    "test_path": "Quora_question_pair_partition/test.tsv",
    "embeddings": "glove",
    "task": "quora",
    "model": "gru",

    "max_nb_words": 80000,
    "max_sent_length": 30,
    "embedding_dim":300,

    "batch_size": 32,
    "max_epochs": 1
}
