{
    "full_dataset": "",
    "train_path": "snli/train.tsv",
    "dev_path": "snli/dev.tsv",
    "test_path": "snli/test.tsv",
    "embeddings": "glove",
    "task": "snli",
    "model": "dec_att",

    "max_nb_words": 80000,
    "max_sent_length": 30,
    "embedding_dim":300,

    "batch_size": 32,
    "max_epochs": 50
}
