{
    "full_dataset": "quora_duplicate_questions.tsv",
    "train_path": "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/train.tsv",
    "dev_path":   "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/val.tsv",
    "test_path":  "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/test.tsv",
    "embeddings": "glove",
    "task": "askubuntu",
    "model": "dec_att",
    "mode": "training",
    "experiment": "training_full",
    "features": "features",

    "max_nb_words": 90000,
    "max_sent_length": 60,
    "embedding_dim":300,

    "batch_size": 32,
    "max_epochs": 20
}
