{
    "full_dataset": "quora_duplicate_questions.tsv",
    "train_path": "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/train.tsv",
    "dev_path":   "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/val.tsv",
    "test_path":  "/home/andrada.pumnea/msrdsdl/data/askubuntu/noclue/test.tsv",
    "embeddings": "glove",
    "sent_embed":"no_univ_sent",
    "task": "askubuntu",
    "model": "esim",
    "mode": "training",
    "experiment": "training_full",

    "max_nb_words": 90000,
    "max_sent_length": 60,
    "embedding_dim":300,

    "batch_size": 50,
    "max_epochs": 50
}
