{
    "full_dataset": "quora_duplicate_questions.tsv",
    "train_path": "/home/andrada.pumnea/Thesis/Quora_question_pair_partition/train.tsv",
    "dev_path":   "/home/andrada.pumnea/Thesis/Quora_question_pair_partition/dev.tsv",
    "test_path":  "/home/andrada.pumnea/Thesis/Quora_question_pair_partition/test.tsv",
    "embeddings": "glove",
    "task": "quora",
    "model": "esim",
    "mode": "training",
    "experiment": "training_full",
    "features": "no_features",

    "max_nb_words": 80000,
    "max_sent_length": 40,
    "embedding_dim":300,

    "batch_size": 50,
    "max_epochs": 50
}
