{
    "full_dataset": "",
    "train_path": "snli/train.tsv",
    "dev_path": "snli/dev.tsv",
    "test_path": "snli/test.tsv",
    "embeddings": "glove",
    "sent_embed":"no_univ_sent",
    "task": "snli",
    "model": "gru",
    "mode": "training",
    "experiment": "training_full",

    "max_nb_words": 80000,
    "max_sent_length": 40,
    "embedding_dim":300,

    "batch_size": 50,
    "max_epochs": 50
}
